.flex{
    display: flex;
 }
  
 .div__temario{
    font-family: 'Montserrat';
    padding: 3rem 0.5rem;
    justify-content: center;
    align-items: center;
 }
  
 .div__img--temario{
    width: 30%;
    margin-right: 5rem;
 }
  
 .div__temario--info{
    flex-direction: column;
    width: 30%;
    font-size: 1.2rem;
 }
  
 .div__temario--h1{
    color: #3f7198;
 }
  
  
 .table__container{
    font-family: 'Montserrat';
    color: #6c6b6b;
    overflow-x: auto;
    padding: 1% 5% 5% 5%;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
 }
  
  
 .table__tdh--lineV{
    height: 50px;
    border-right: 2px ridge #00a7bd;
 }
  
  
 .table__tr--top{
    border-bottom: 2px solid #00a7bd;
 }
  
  
 .table__tr--bottom{
    border-bottom: 2px solid #00a7bd;
 }
  
  
 .table__thead--tittle{
    text-align: center;
    padding: 1em 2em;
 }
  
 .table__tbody--tdMod{
    padding: 1em 2em;
 }
 .table__tbody--tdNumShrs{
    text-align: right;
    padding: 1em 2em;
 }
  
  
 .table__tbody--tdPfA{
    text-align: right;
    padding: 1em 2em;
 }
  
 .table__tfoot--tdTotsum{
    text-align: right;
    padding: 1em 2em;
 }
 /*Temario_F*/
  
  
 /*INFO_I*/
 .div__info--boxImgTxt{
    padding: 7rem 2rem 5rem 15rem;
    justify-content: center;
    align-items: center;
 }
  
 .div__info--image{
    width: 30vw;
    margin-right: 5rem;
 }
  
 .div__info--span{
    flex-direction: column;
    width: 30%;
    font-size: 1.2rem;
    margin-right: 1rem;
 }
  
  
 .div__map{
    justify-content: center;
    align-items: center;
 }
  
 .f,.div__info--h1{
    color: #3f7198;
    font-family: 'Montserrat';
   
 }
  
 .div__info--iframe{
    border: 0;
    width: 300px;
    height: 300px;
 }
 /***NEW****/
 .section__container{
    padding: 5rem 3rem;
 }
 .div__imgtxt--all{
    padding: 7rem 2rem;
    justify-content: center;
    align-items: center;
 }
  
 .div__iframe--all{
    margin-top: 7rem;
    margin-left: 7rem;;
 }
  
 .all1{
    justify-content: center;
  
 }
 
.div___informacion--button{
  margin-bottom: 10%;
}
button
 {
     border:none;
     padding:8px;
     display: inline-block;
     color:white;
     background-color:#41968a;
     cursor:pointer;
     width:70%;
     border-radius:20px;
     font-size:18px;
     text-align:center;
 }
 
 a:hover,button:hover{
   opacity: 0.6;
}

/*P_i*/
section{
   padding: 1vw 0;
   background-color: #fff;
}

.card-wrapper{
   display: flex;
   align-items: center;
   align-content: center;
   flex-direction: column;
   margin-bottom: 4%;
}

.cardA{
   width: 15%;
   background-color: #00719c;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0rem 0;
} 

.cardAV{
   width: 15%; 
   background-color: #3e9488;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0rem 0;
}

.cardV{
   width: 15%; 
   background-color: #76b56a;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0rem 0;
}
.card-img{
   width: 100%;
   height: 10rem;
   object-fit: cover;
   background-color: #fff;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);
   clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);
}

.profile-img{
   width: 7rem;
   height: 7rem;
   object-fit: cover;
   border-radius: 50%;
   margin-top: -7rem;
   z-index: 999;
   border: .2rem solid #ebeef8
}

.card__h1{
   font-size: .8rem;
   color: #fff;
   margin: 1.5rem 0;
   padding: 0rem 1.5rem;
}

.job-tittle{
   color: white;
   font-size: 1rem;
   font-weight: 300;
}

.about{
   font-size: 1rem;
   margin: 0rem 0;
   padding: 0rem 1rem;
   font-style: italic;
   text-align: center;
   color: #fff;
   margin-bottom: .5rem;
}

.btn{
   padding: .5rem 1.5rem;
   border-radius: 2rem;
   border: .2rem solid #fff;
   margin: 1rem;
   text-transform: uppercase;
   color: #eee;
   font-size: .8rem;
}

.btn:hover{
   transform: translateY(-2px);
}

.btn:active{
   transform: translateY(0);
   box-shadow: none;
}

.social-media{
   width: 100%;
   list-style: none;
   display: flex;
   justify-content: space-evenly;
   padding: 0rem 0;
   border-top: 1px solid rgba(0,0,0,.1);
}

.social-media i{
   margin-top: .5rem;
   font-size: 2rem;
}

.fa-facebook-square, .fa-twitter-square, .fa-instagram, .fa-google-plus-square{
   color: #fff;
}

@media screen and (min-width: 700px){
   .card-wrapper{
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
   }

   .cardA, .cardAV, .cardV{
       margin: 1rem;
   }

   @keyframes fadeIn {
       from{
           opacity: 0;
       }to{
           opacity: 1;
       }
   }
   .card:nth-child(1){
       animation: fadeIn .5s .5s backwards;
   }
   .card:nth-child(2){
       animation: fadeIn .5s 1s backwards;
   }
   .card:nth-child(3){
       animation: fadIn .5s .2s backwards;
   }  
}
/*P_f*/