*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
}
.fuentes{
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
    color: #fff;
}

section{
    padding: 1vw 0;
    background-color: #fff;
}

.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 4%;
}

.cardA{
    width: 15%;
    background-color: #00719c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 0;
} 

.cardAV{
    width: 15%; 
    background-color: #3e9488;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 0;
}

.cardV{
    width: 15%; 
    background-color: #76b56a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 0;
}
.card-img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);
}

.profile-img{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -7rem;
    z-index: 999;
    border: .2rem solid #ebeef8
}

 .card__h1{
    font-size: 1.5rem;
    color: #fff;
    margin: 1.5rem 0;

}

.job-tittle{
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.about{
    font-size: 1rem;
    margin: 0rem 0;
    padding: 0rem 1rem;
    font-style: italic;
    text-align: center;
    color: #fff;
    margin-bottom: .5rem;
}

.btn{
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    border: .2rem solid #fff;
    margin: 1rem;
    text-transform: uppercase;
    color: #eee;
    font-size: .8rem;
}

.btn:hover{
    transform: translateY(-2px);
}

.btn:active{
    transform: translateY(0);
    box-shadow: none;
}

.social-media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.social-media i{
    margin-top: .5rem;
    font-size: 2rem;
}

@media screen and (min-width: 700px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .cardA, .cardAV, .cardV{
        margin: 1rem;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    .card:nth-child(1){
        animation: fadeIn .5s .5s backwards;
    }
    .card:nth-child(2){
        animation: fadeIn .5s 1s backwards;
    }
    .card:nth-child(3){
        animation: fadIn .5s .2s backwards;
    }  
}