*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s ease-in-out;
    text-decoration: none;
    font-family: "Montserrat";
}

body{
    font-size: 16px;
}

.flex{
    display: flex;
}

.letras{
    color: #f2f2f2;
}

.encabezado{
    background-color: #696868;
    width: 100%;
}

.encabezado__unam{
    width: 50%;
    align-items: center;
    font-size: 1.4rem;
}

.encabezado__escudo-unam{
    height: 17vh;
    margin: 2% 2% 2% 5%;
}

.encabezado__fi{
    width: 50%;
    flex-direction: row-reverse;
}

.encabezado__letras-fi{
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-size: 2rem;
}

.encabezado__letras-division{
    font-size: 1.3rem;
}

.encabezado__escudo-fi{
    /* width: 14%; */
    height: 17vh;
    margin: 3% 6% 2% 2%;
}


.menu{
    width: 100%;
    justify-content: center;
}

.menu__item{
    display: block;
    padding: 1.3%;
    font-size: 1.6vw;
    color: #00749D;
}

.menu__item:hover{
    text-decoration: none;
}

.portada-diplomado{
    background-image: linear-gradient(to right,rgb(0,144,155),rgb(120,180,108));
    height: 38vw;
}

.portada-diplomado__titulo{
    width: 50%;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    padding-left: 4%;
    font-size: 2.2rem;
    font-family: "Maven Pro";
}

.portada-diplomado__titulo-diplomado{
    font-size: 2.31vw;
    font-family: sans-serif;
    font-weight: bolder;
}

.portada-diplomado__icono{
    width: 50%;
}

.portada-diplomado__vector{
    width: 40vw;
    margin: auto;
}

.presentacion{
    width: 100%;
    margin: 5% 0;
}

/* .presentacion__tomar-curso[data-aos-duration='12000']{} */

.presentacion__tomar-curso{
    align-items: center;
    padding: 9%;
    font-size: 1.3vw;
}

.presentacion__tomar-curso h2{
    margin-bottom: 5%;
    font-size: 2.5vw;
}


.presentacion__conexion{
    margin-right: 7vw;
    width: 40vw;
}

.presentacion__tomar{
    margin-left: 7vw;
    width: 35vw;
}

.footer-ingenieria{
    width: 100%;
    background-image: linear-gradient(to right,rgb(0,144,155),rgb(120,180,108));
}

.footer-ingeneieria__fac{
    padding-left: 7%;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    font-family: "Maven Pro";
    width: 30%;
}
.footer-ingeneieria__fac span{
    font-size: 2.3rem;
    font-family: sans-serif;
    font-weight: bolder;
}

.footer-ingeneieria__contacto{
    padding-top: 0.8%;
    padding-right: 15%;
    width: 40%;
}

.footer-ingeneieria__redes-sociales{
    width: 30%;
    padding-left: 17%;
}

.footer-ingenieria i.fa{
    margin: auto 5% 0 0;
    font-size: 2.2vw;
}

i.fab{
    margin: auto 5% 0 0;
    font-size: 2.2vw;
}
.info-diplomado{
    margin: 8% 0;
}

.info-diplomado__img{
    width: 80%;
    margin: auto;
}

.footer{
    padding: 3%;
    background: #696868;
}

.titulo-temario{
    background-image: linear-gradient(to right,rgb(0,144,155),rgb(120,180,108));
    flex-direction: column;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}

.titulo-temario span{
    font-family: "Maven Pro";
    font-weight: normal;
}

.titulo-temario p{
    font-family: sans-serif;
    font-size: 4rem;
}

.flex{
    display: flex;
}

.portada__nombre-diplomado{
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.descripcion-profesores{
    flex-direction: column;
    font-size: 1.4rem;
}

.descripcion-profesores__general{
    width: 95%;
    padding: 1% 5%;
    margin: 4% auto;
    text-align: center;
    border-bottom: 2px #00A7BD solid;

}

.descripcion-profesores__profesor{
    width: 85%;
    margin: 3% auto;
    align-items: center;
}

.descripcion-profesores__img-profesor{
    width: 35%;
    margin-right: 3%;
}

.der{
    flex-direction: row-reverse;
    text-align: right;
}

.info-inscripcion{
    margin: 5% 3%;
    align-items: center;
}

.costos{
    flex-direction: row-reverse;
    margin: 5% 3%;
    align-items: center;
}

.costos__info{
    flex-direction: column;
    text-align: right;
}

.letras-h{
    font-size: 3.5vw;
}

.letras-tam{
    list-style: none;
    font-size: 1.5vw;
}

.costos img{
    width: 40%;
    margin-left: 5%;
    margin-right: 7%;
}

.formas-pago{
    margin: 5% 3%;
    align-items: center;
}

.formas-pago__info{
    flex-direction: column;
}

.formas-pago ul li{
    list-style: none;
}

.formas-pago img{
    width: 40%;
    margin-left: 5%;
}

.info-inscripcion img{
    width: 40%;
    margin-right: 3%;
    margin-left: 7%;
}

.info-inscripcion span{
    width: 45%;
}

.contact-form{
    background: rgba(0,0,0,0.6);
    color: white;
    margin-top: 100px;
    padding: 20px;
}
.anexos-form{
    width: 100%;
    height: auto;
}

.box{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.column
  {
      width:25%;
      float:left;
      padding:100px 10px;
  }

  .row:after{
      content:"";
      display:table;
      clear:both;
  }

 

  @media screen and (max-width:600px)
  {
      .column
      {
          width:100%;
          display:block;
          margin-bottom: 20px;
      }
  }

  .card
  {
      max-width:300px;
      margin:auto;
      background-color:white;
      text-align:center;
      border-radius:40px;
      padding-bottom:15px;
  }

  .title
  {
      color:gray;
      font-size:18px;
  }

  button
  {
      border:none;
      padding:8px;
      display: inline-block;
      color:white;
      background-color:#41968a;
      cursor:pointer;
      width:70%;
      border-radius:20px;
      font-size:18px;
      text-align:center;
  }

  a:hover,button:hover{
    opacity: 0.6;
}

.cards-contacto{
    margin-top: 10%;
    margin-bottom: 10%;
}

.formulario{
    margin-bottom: 10%;
}

.form-group{
    font-size: 1.4rem;
}

.ir-arriba {
    display:none;
    padding:20px;
    background:#024959;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 2000;
}